[EPIC] Extensions support

## Standard extensions

- [ ] copy (RFC 3894)
- [ ] body (RFC 5173)
- [ ] environment (RFC 5183)
- [x] variables (RFC 5229)
- [ ] vacation (RFC 5230)
- [ ]     vacation-seconds (RFC 6131)
- [x] relational (RFC 5231)
- [x] imap4flags (RFC 5232)
- [ ] subaddress (RFC 5233)
- [ ] spamtest and virustest (RFC 5235)
- [ ] date (RFC 5260; Section 4)
- [ ] index (RFC 5260; Section 6)
- [ ] editheader (RFC 5293)
- [ ] reject (RFC 5429; Section 2.2)
- [ ] enotify (RFC 5435)
   - [ ] mailto method (RFC 5436)
   - [ ] xmpp method (RFC 5437)
- [ ] ihave (RFC 5463)
- [ ] mailbox (RFC 5490; Section 3)
- [ ] mboxmetadata and servermetadata (RFC 5490)
- [ ] foreverypart (RFC 5703; Section 3)
- [ ] mime (RFC 5703; Section 4)
- [ ] extracttext  (RFC 5703; Section 7)
- [ ] include (RFC 6609)
- [ ] imapsieve (RFC 6785)
- [ ] duplicate (RFC 7352
- [ ] regex (draft v08; not latest version)
- [ ] ereject  ([RFC 5429; Section 2.1](http://tools.ietf.org/html/rfc5429#section-2.1))
- [ ] replace  (RFC 5703; Section 5)
- [ ] enclose  (RFC 5703; Section 6)
- [ ] envelope-dsn, envelope-deliverby, redirect-dsn and redirect-deliverby  (RFC 6009)
- [ ] extlists  (RFC 6134)
- [ ] convert  (RFC 6558)

## Obsolete extensions

- [ ] imapflags (obsolete draft)
- [ ] notify (obsolete draft)

## Non-standard extensions

Probably makes sense to be compatible with some of Dovecot's extensions.

- [ ] vnd.dovecot.debug
- [ ] vnd.dovecot.environment
- [ ] vnd.dovecot.execute
- [ ] vnd.dovecot.filter
- [ ] vnd.dovecot.pipe
- [ ] vnd.dovecot.report